{
  "$schema": "http://www.krakend.io/schema/krakend.json",
  "version": 3,
  "name": "Scalable-E-Commerce - API Gateway",
  "port": 8080,
  "host": [
    "http://localhost"
  ],
  "debug_endpoint": true,
  "timeout": "3000ms",
  "cache_ttl": "300s",
  "extra_config": {
    "modifier/http-client": {
      "return_error_details": "backend_alias"
    },
    "modifier/http": {
      "return_error_details": "backend_alias"
    },
    "security/http": {
      "content_type_nosniff": true,
      "browser_xss_filter": true,
      "sts_seconds": 31536000,
      "sts_include_subdomains": true,
      "frame_deny": true,
      "custom_browser_xss_filter": "1; mode=block"
    },
    "security/cors": {
      "allow_origins": ["*"],
      "allow_methods": ["GET", "POST", "PUT", "DELETE", "PATCH", "OPTIONS"],
      "allow_headers": ["Origin", "Content-Type", "X-Request-ID"],
      "expose_headers": ["X-Request-ID"],
      "allow_credentials": true,
      "max_age": "86400"
    },
    "qos/ratelimit/router": {
      "every": "1m",
      "client_max_rate": 100,
      "client_capacity": 100,
      "strategy": "ip"
    }
  },
  "endpoints": [
    {
      "endpoint": "/v1/login",
      "method": "POST",
      "output_encoding": "no-op",
      "backend": [
        {
          "url_pattern": "/auth/login",
          "host": [
            "http://scalable-e-commerce-api:8080"
          ],
          "sd": "static",
          "encoding": "no-op"
        }
      ],
      "extra_config": {
        "qos/ratelimit/router": {{ marshal .rate_limit.five_per_minute }}
      }
    },
    {
      "endpoint": "/v1/token",
      "output_encoding": "no-op",
      "input_headers": ["x-user-id", "x-token-id"],
      "backend": [
        {
          "url_pattern": "/auth/token",
          "host": [
            "http://scalable-e-commerce-api:8080"
          ],
          "sd": "static",
          "encoding": "no-op"
        }
      ],
      "extra_config": {
        "auth/validator": {{ marshal .jwt_validator.refresh_token_validator }},
        "qos/ratelimit/router": {{ marshal .rate_limit.five_per_minute }}
      }
    },
    {
      "endpoint": "/v1/logout",
      "method": "POST",
      "input_headers": ["x-user-id", "x-token-id"],
      "output_encoding": "no-op",
      "backend": [
        {
          "url_pattern": "/auth/logout",
          "host": [
            "http://scalable-e-commerce-api:8080"
          ],
          "sd": "static",
          "encoding": "no-op"
        }
      ],
      "extra_config": {
        "auth/validator": {{ marshal .jwt_validator.refresh_token_validator }}
      }
    },
    {
      "endpoint": "/v1/forgot-password",
      "method": "POST",
      "output_encoding": "no-op",
      "backend": [
        {
          "url_pattern": "/pass/send-code",
          "host": [
            "http://scalable-e-commerce-api:8080"
          ],
          "sd": "static",
          "encoding": "no-op"
        }
      ],
      "extra_config": {
        "qos/ratelimit/router": {{ marshal .rate_limit.three_per_minute }}

      }
    },
    {
      "endpoint": "/v1/forgot-password/validate-code",
      "method": "POST",
      "output_encoding": "no-op",
      "backend": [
        {
          "url_pattern": "/pass/validate-code",
          "host": [
            "http://scalable-e-commerce-api:8080"
          ],
          "sd": "static",
          "encoding": "no-op"
        }
      ],
      "extra_config": {
        "qos/ratelimit/router": {{ marshal .rate_limit.three_per_minute }}
      }
    },
    {
      "endpoint": "/v1/user/password/reset",
      "method": "PATCH",
      "input_headers": ["x-user-email", "Content-Type"],
      "output_encoding": "no-op",
      "backend": [
        {
          "url_pattern": "/pass/reset",
          "host": [
            "http://scalable-e-commerce-api:8080"
          ],
          "method": "PATCH",
          "sd": "static",
          "encoding": "no-op"
        }
      ],
      "extra_config": {
        "qos/ratelimit/router": {{ marshal .rate_limit.three_per_minute }},
        "auth/validator": {{ marshal .jwt_validator.reset_pass_token_validator }}
      }
    },
    {
      "endpoint": "/v1/user/password",
      "method": "PATCH",
      "input_headers": ["x-user-id", "Content-Type"],
      "output_encoding": "no-op",
      "backend": [
        {
          "url_pattern": "/pass",
          "host": [
            "http://scalable-e-commerce-api:8080"
          ],
          "sd": "static",
          "method": "PATCH",
          "encoding": "no-op"
        }
      ],
      "extra_config": {
        "auth/validator": {{ marshal .jwt_validator.enter_role_validator }},
        "qos/ratelimit/router": {{ marshal .rate_limit.three_per_minute }}
      }
    }
  ]
}