name: Run Unit Tests 

on: [push]

jobs:
  run-auth-unit-tests:
    name: Run Auth Unit Tests
    runs-on: ubuntu-22.04

    steps:       
      - name: Checkout Project
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with: 
          node-version: 20
        
      - name: Install dependencies
        run: npm install
        working-directory: services/auth

      - name: Run tests
        working-directory: services/auth
        run: npm run test
  
  run-users-unit-tests:
    name: Run Users Unit Tests
    runs-on: ubuntu-22.04

    steps:       
      - name: Checkout Project
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with: 
          node-version: 20
        
      - name: Install dependencies
        run: npm install
        working-directory: services/users

      - name: Run tests
        working-directory: services/users
        run: npm run test