name: Run Unit Tests 
on: [push]

jobs:
  run-auth-unit-tests:
    name: Run Auth Unit Tests
    runs-on: ubuntu-22.04
    steps:       
      - name: Checkout Project
        uses: actions/checkout@v4
        
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with: 
          bun-version: latest
          
      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: services/auth/node_modules
          key: ${{ runner.os }}-bun-auth-${{ hashFiles('services/auth/bun.lock') }}
          restore-keys: |
            ${{ runner.os }}-bun-auth-
          
      - name: Install dependencies
        run: bun install --frozen-lockfile
        working-directory: services/auth
        
      - name: Run tests
        working-directory: services/auth
        run: bun run test

  run-users-unit-tests:
    name: Run Users Unit Tests
    runs-on: ubuntu-22.04
    steps:       
      - name: Checkout Project
        uses: actions/checkout@v4
        
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with: 
          bun-version: latest
          
      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: services/users/node_modules
          key: ${{ runner.os }}-bun-users-${{ hashFiles('services/users/bun.lockb') }}
          restore-keys: |
            ${{ runner.os }}-bun-users-
          
      - name: Install dependencies
        run: bun install --frozen-lockfile
        working-directory: services/users
        
      - name: Run tests
        working-directory: services/users
        run: bun run test